<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.southweek">

    <!-- SMS验证所需要的权限 -->
    <!-- start -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- end -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ui.app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.LoadActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.SearchActivity" />
        <activity android:name=".ui.activity.LoginActivity" />
        <activity android:name=".ui.activity.SettingActivity" />
        <activity android:name=".ui.activity.PersonInfoActivity" />
        <activity android:name=".ui.activity.MyCollectionActivity" />
        <activity
            android:name=".ui.activity.Main2Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.activity.AboutUsActivity" />
        <activity android:name=".ui.activity.FeedBackActivity" />
        <activity android:name=".ui.activity.GuidActivity" />
        <activity android:name=".ui.activity.MainActivity" />
        <activity android:name=".ui.activity.ArticleDetailActivity" />

        <!-- SMS验证添加添加Activity -->
        <!-- start -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- end -->

        <activity android:name=".ui.activity.RegisterActivity" />
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <meta-data
            android:name="WEIBO_APPKEY"
            android:value="2070646501" />
        <meta-data
            android:name="WEIBO_CHANNEL"
            android:value="weibo" />

        <activity android:name=".ui.activity.EditUserInfoActivity"></activity>
  
          <activity android:name=".ui.activity.Main3Activity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
